body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    @font-face{
        font-family:hatton;
        src: url(../fonts/PP\ Hatton\ Medium\ 500.otf);
               }
    .container-alert{
    width: 100%;
    height: 20vh;
    opacity: 0;
    display: flex;
    position: fixed;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    }
    .container-alert .alert-body{
    width: 25%;
    height: 85%;
    display: flex;
  background-color: white;
    border: solid 0.5vh #268ECD;
    border-radius: 1vw;
    
    }
    .alert-body .container-image{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-top-left-radius:1vw ;
    border-bottom-left-radius:1vw ;
    
    
    }
    .container-image .gif-perro{
    width: 80%;
    height: 60%;
    
    
    
    }
    .alert-body .container-text{
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        font-family: hatton;
        font-size: 1vw;
       
        border-top-right-radius:1vw ;
    border-bottom-right-radius:1vw ;
    
    }
    .mostrar{
opacity: 1;
transition: 0.5s;

    }